# kern/Kconfig

comment "Kernel options"

source "kern/hal/Kconfig"

menu "Memory Management"

menu "Physical memory layout"

config configKSTACK_START
    hex "P kstack start"
    default 0x00001000
    range 0x00001000 0x00001000
    ---help---
    See configKSTACK_END.

config configKSTACK_END
    hex "P kstack end"
    default 0x00007fff
    range 0x00007fff 0x00007fff
    ---help---
    Kernel interrupt stacks used at entry.

config configKERNEL_START
    hex "P kernel caddr start"
    default 0x00008000

config configKERNEL_END
    hex "P kernel caddr end"
    default 0x003fffff

config configPT_AREA_START
    hex "P Page table area start"
    default 0x00400000
    depends on configMMU

config configPT_AREA_END
    hex "P Page table area end"
    default 0x007FFFFF
    depends on configMMU

config configDYNMEM_START
    hex "P dynmem start"
    default 0x00800000
    ---help---
    Dynmem is the memory area used to allocate memory dynamically.

config configDYNMEM_SAFE_SIZE
    hex "dynmem safe size"
    default 0x800000
    ---help---
    Safe size for dynmem if dynamic configuration fails (eg. no ATAGs).

config configDYNMEM_MAX_SIZE
    hex "dynmem max size"
    default configDYNMEM_SAFE_SIZE
    ---help---
    Maximum size of the dynmem allocation area (excl. reserved regions).
    This knob sets the absolute maximum size for memory area used for dynamic
    memory allocations.

endmenu

menu "Kernel virtual layout"

config configTKSTACK_START
    hex "V tkstack vaddr start"
    default 0x00000000
    range 0x00000000 0x00000000
    depends on configMMU
    ---help---
    See help on configTKSTACK_END.

config configTKSTACK_END
    hex "V tkstack vaddr end"
    default 0x00000fff
    range 0x00000fff 0x00000fff
    depends on configMMU
    ---help---
    Thread kernel stack starts from here, unfortunately, at the moment, this has
    to be manually set to at least kern/hal/arm11/arm11.inc with + 1.
    Currently this stack addr must be within the first megabyte of the virtual
    memory address space.

config configKSECT_START
    hex "V ksect start"
    default 0x30000000
    ---help---
        Ksects, kernel dynamic virtual sections, are mainly mainly used to
        access memory mapped IO by using strongly ordered access on
        the virtual ksect address.

config configKSECT_END
    hex "V ksect end"
    default 0x50000000
 
endmenu

menu "User process memory layout"

config configEXEC_BASE_LIMIT
    hex "Exec base address low limit"
    default 0x10000000
    ---help---
    Lowest base address allowed for loading sections from a binary file.

config configUENV_BASE_ADDR
    hex "Args & environ page base address"
    default 0x0FFFF000
    --help---
    Base address for process arguments and environment.

endmenu

endmenu

source "kern/sched/Kconfig"

menu "Processes"

config configMAXPROC
    int "maxproc"
    default 5
    ---help---
    Default maximum number of processes. This is a sysctl tunable variable
    and thus can be changed on runtime.

config configCOW_ENABLED
    bool "Enable copy-on-write for processes"
    default y
    ---help---
    Selects whether process memory regions shall be copied on demand as COW
    (Copy-On-Write) or immediately when a process is forked.

config configPROC_DEBUG
    bool "Proc debug"
    default n
    ---help---
    Process subsystem debugging. This knob adds more invariants that cause
    a performance hit as well as print a lot of useles debug messages to
    the klogging facility.

menu "Default hard limits"

config configRLIMIT_CORE
    int "RLIMIT_CORE"
    default -1
    ---help---
    Maximum size of a core file, in bytes.

    -1 is no limit.

config configRLIMIT_CPU
    int "RLIMIT_CPU"
    default -1
    ---help---
    Max amount of CPU time limit.

    -1 is no limit.

config configRLIMIT_DATA
    int "RLIMIT_DATA"
    default -1
    ---help---
    Data segment size limit.

    -1 is no limit.

config configRLIMIT_FSIZE
    int "configRLIMIT_FSIZE"
    default -1
    ---help---
    File size limit of a process.

    -1 is no limit.

config configRLIMIT_NOFILE
    int "RLIMIT_NOFILE"
    range 8 1024
    default 16
    ---help---
    Limit on number of open files.

    Can't be infinite (-1).

config configRLIMIT_STACK
    int RLIMIT_STACK
    default -1
    ---help---
    Maximum size of stack for a thread, in bytes.

    -1 is no limit.

config configRLIMIT_AS
    int "RLIMIT_AS"
    default -1
    ---help---
    Limit on address space size of a process.

    -1 is no limit.

endmenu

endmenu


menu "Generic"

config configTIMERS_MAX
    int "Maximum number of kernel timers"
    default 16
    range 15 65535
    ---help---
    Maximum number of timers available.

config configUSRINIT_SSIZE
    int "init stack size"
    default 8192
    ---help---
    Stack size for init process main() thread.

config configUSRINIT_PRI
    int "init priority"
    default 0
    ---help---
    Priority of usrinit thread.

endmenu

menu "Kernel debugging"

config configKASSERT
    bool "Kernel asserts"
    default n

config configBUF_DEBUG
    bool "buffers debugging"
    default n
    ---help---
    Enable buf and bio debug messages and additional asserts.

config configDYNEM_DEBUG
    bool "dynmem debugging"
    default n
    ---help---
    Enable dynmem debug messages and asserts.

config configEXEC_DEBUG
    bool "Exec debugging"
    default n
    ---help---
    Enable exec debug messages.

config configKSIGNAL_DEBUG
    bool "Ksignal debugging"
    default n
    ---help---
    Enable ksignal debug messages.

config configVM_DEBUG
    bool "vm debug"
    default n

config configPTMAPPER_DEBUG
    bool "ptmapper debugging"
    default n

config configLOCK_DEBUG
    bool "klock debugging"
    default n
    ---help---
    Debug kernel locks.

config configKLOCK_DLTHRES
    int "Klock deadlock detection threshold"
    default 19
    depends on configLOCK_DEBUG

config configKMALLOC_DEBUG
    bool "kmalloc debugging"
    default n
    ---help---
    Debug kmalloc.

endmenu

source "kern/kerror/Kconfig"

source "kern/fs/Kconfig"


menu "Security"

config configSUSER
    bool "Enable super user privileges"
    default y
    ---help---
    Processes with uid 0 have privilege by default. This knob sets default value
    of suser_enabled sysctl variable to one.

    If suser_enabled is set to zero, uid 0 is offers no special privilege in
    the kernel security policy in most of the places. It can be also set at
    runtime by using sysctl interface.

    If unsure, say Y.

config configBOOT_SECURELEVEL
    int "Securelevel at boot"
    default 0

config configPROCCAP
    bool "Process Capabilities"
    default n
    ---help---
    Currently a very lightweight implementation to restrict or grant access
    to some kernel features per process basis. Selecting this feature adds
    process capability maps that can be altered by a capable process and
    are inherited by child processes.

endmenu


source "kern/libkern/Kconfig"
source "kern/kunit/Kconfig"
