# kern/hal/fb/Kconfig

menuconfig configFB
    bool "Frame Buffer support"
    default n

if configFB

config configFB_FONT_LATIN
    bool "Latin extension"
    default n

config configFB_FONT_GREEK
    bool "Greek extension"
    default n

config configFB_FONT_HIRAGANA
    bool "Hiragana extension"

endif
