# kern/hal/rpi/Kconfig

menu "Raspberry PI drivers"

config configRPI_HW
    bool "Raspberry PI memory mapped HW support"
    default n
    depends on configBCM2835

config configRPI_LEDS
    bool "Raspberry PI leds"
    default n
    depends on configBCM2835

endmenu
