# kern/hal/rpi/Kconfig

menu "Raspberry PI drivers"

config configRPI_HW
    bool "Raspberry PI memory mapped HW support"
    default n
    depends on configBCM2835

config configRPI_LEDS
    bool "Raspberry PI leds"
    default n
    depends on configBCM2835

menuconfig configRPI_EMMC
    bool "Raspberry PI EMMC"
    default n
    depends on configBCM2835 && configBCM_MB

if configRPI_EMMC

config configRPI_EMMC_SD_1_8V_SUPPORT
    bool "Enable 1.8V support"
    default y

config configRPI_EMMC_SD_4BIT_DATA
    bool "Enable 4-bit support"
    default y

config configRPI_EMMC_SDXC_MAXIMUM_PERFORMANCE
    bool "Enable SDXC maximum performance mode"
    default n
    ---help---
        Enables SDXC maximum performance mode.
        This option requires 150 mA current.

        If unsure, say N.

config configRPI_EMMC_SDMA_SUPPORT
    bool "Enable SDMA support"
    default n

config configRPI_EMMC_SD_CARD_INTERRUPTS
    bool "Enable card interrupts"
    default n

config configRPI_EMMC_WRITE_SUPPORT
    bool "Enable SD card write support (EXPERIMENTAL)"
    default n
    ---help---
        Enable EXPERIMENTAL and possibly DANGEROUS SD card write support.

        If unsure, say N.

choice
    prompt "EMMC Implementation"
    default configRPI_EMMC_GENERIC if configQEMU_GUEST
    default configRPI_EMMC_BCM2708 if configBCM2835
    default configRPI_EMMC_GENERIC

config configRPI_EMMC_GENERIC
    bool "Generic EMMC"

config configRPI_EMMC_BCM2708
    bool "BCM2708 EMMC"
    depends on configBCM2835 && configBCM_MB && configBCM_PM

endchoice

config configRPI_EMMC_DEBUG
    bool "Debugging mode"
    default n

endif

endmenu
