# Autoconf
autoconf.h

# Kernel out files
kernel.bin
kernel.elf
kernel.list

# LLVM bitcode
*.bc
*.opt.bc

# Optmized assembly
*.opt.s

# Object files
*.slo
*.lo
*.o
*.pbi
*.pbd
*.browse
*.cout

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out

# List files
*.lst
*.map

# Simulation files
*.sim

# Binary dependecy map files
*.dep

# Windows cache and temp files
Thumbs.db

# Vim tmp files
*.swp

# Directiories
doc/html
