# Kernel out files
kernel.img
kernel.bin
kernel.elf
kernel.list

zeke-rootfs.img

# Generated config
.config*
config*
manifest

# deps
*.d

# LLVM bitcode
*.bc
*.opt.bc

# Preprocessed assembly
*.s
*._S

# Optmized assembly
*.opt.s

# Object files
*.slo
*.lo
*.o
*.pbi
*.pbd
*.browse
*.cout

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out

# List files
*.lst
*.map
*.list

# Simulation files
*.sim

# Binary dependecy map files
*.dep

# Windows cache and temp files
Thumbs.db

# Vim tmp files
*.swp

# Directiories
doc/html
include/machine

# Static analysis tools
/sonar-*
/.scannerwork
