mainmenu "Zeke Configuration"

menu "Target Config"
source "genconfig/target.kconf"
endmenu

menu "Build Config"

config configCOMMON_CCFLAGS
    string "CCFLAGS common to all build targets"
    default "-Wall -O2"

config configKERNEL_CCFLAGS
    string "Kernel CCFLAGS"
    default "-g -Wundef -Wextra -Wno-unused-parameter"

config configUSER_CCFLAGS
    string "Userland CCFLAGS"

endmenu

menu "Kernel"
source "kern/Kconfig"
endmenu

menu "bin"
source bin/Kconfig
endmenu

menu "etc"
source etc/Kconfig
endmenu

menu "lib"
source "lib/Kconfig"
endmenu

menu "sbin"
source sbin/Kconfig
endmenu

menu "usr"
source usr/Kconfig
endmenu

menu "opt"
source opt/Kconfig
endmenu

