mainmenu "Zeke Configuration"

menu "Target Config"
source "genconfig/target.kconf"
endmenu

menu "Kernel"
source "kern/Kconfig"
endmenu

menu "lib"
source "lib/Kconfig"
endmenu

menu "sbin"
source sbin/Kconfig
endmenu

menu "opt"
source opt/Kconfig
endmenu
