mainmenu "Zeke Configuration"

menu "Kernel"
source kern/Kconfig
endmenu

menu "boot"
source boot/Kconfig
endmenu

menu "bin"
source bin/Kconfig
endmenu

menu "etc"
source etc/Kconfig
endmenu

menu "lib"
source lib/Kconfig
endmenu

menu "sbin"
source sbin/Kconfig
endmenu

menu "usr"
source usr/Kconfig
endmenu

menu "opt"
source opt/Kconfig
endmenu

