menuconfig configFATFS
    bool "FatFs"
    default n
    select configFS_INPOOL
    select configVFS_HASH
    ---help---
    The FatFs driver will permit the kernel to read and write MS-DOS based
    file systems. This driver covers the FAT12, FAT16 and FAT32 file system
    versions.

    Some hardware platforms like raspberry may require a FAT boot partition,
    so this driver is useful for accessing that partiotion too.

if configFATFS

config configFATFS_CODEPAGE
    int "Code page for FAT"
    default 437
    ---help---
    This option sets the code page used for FAT file systems.

config configFATFS_LFN
    bool "LFN option"
    default n
    ---help---
    Long Filename support.

    WARNING: There might be enforceable patents related to this functionality.

config configFATFS_UNICODE
    bool "FAT Unicode support"
    default n

config configFATFS_DESIREDVNODES
    int "desiredvnodes"
    default 100
    ---help---
    Controls the vnode hash table size.
    This option should be set to the expected average maximum number of vnodes
    required by the whole fatfs driver.

config configFATFS_DEBUG
    bool "Debugging"
    default n

endif
