# kern/hal/bcm2835/Kconfig

menu "BCM drivers"

config configBCM_MB
    bool "BCM2835 mailbox support"
    default y if configBCM2835
    depends on configBCM2835

config configBCM_JTAG
    bool "BCM2835 JTAG support"
    default n
    depends on configBCM2835

config configBCM_FB
    bool "BCM2835 FB support"
    default n
    depends on configFB && configBCM2835 && configBCM_MB
    select configRPI_HW

config configBCM_PM
    bool "BCM2835 PM support"
    default n
    depends on configBCM2835 && configBCM_MB
    ---help---
    Enable BCM2835 Power Management support.

endmenu
