configUSE_HFP=y
configQEMU_GUEST=y
__ARM6K__=y
configFB=y
configBCM_FB=y
configBCM_PM=y
configRPI_EMMC=y
configRPI_EMMC_SDXC_MAXIMUM_PERFORMANCE=y
configRPI_EMMC_WRITE_SUPPORT=y
configSCHED_DEBUG=y
configMAXPROC=10
configPROC_DEBUG=y
configKASSERT=y
configVM_DEBUG=y
configBUF_DEBUG=y
configLOCK_DEBUG=y
configDEBUG_DEBUG=y
configFATFS=y
configFATFS_LFN=y
# configBUNDLE_STATIC is not set
configTISH=y
configUSR_GAMES=y
configTESTS_FB=y
configTESTS_MMAN=y
