# kern/libkern/Kconfig

menu "Library routines"

config configSUBR_HASH
    bool "kernel hash tables"
    default n
    ---help---
    BSD kernel hash tables.

    See hashinit(9)

config configSTRING_OPT_SIZE
    bool "Optimize string functions for size"
    ---help---
    Optimize string functions for speed or size.

endmenu
