# kern/libkern/Kconfig

menu "Library routines"

config configGENSEGTREE
    bool "Generic min/max segment trees"
    default n
    ---help---
    Generic min/max segment tree implementation.

config configSUBR_HASH
    bool "Kernel hash tables"
    default n
    ---help---
    BSD kernel hash tables.

    See hashinit(9)

config configSTRING_OPT_SIZE
    bool "Optimize string functions for size"
    ---help---
    Optimize string functions for speed or size.

endmenu
