menu "Thread Scheduling"

config configSCHED_HZ
    int "Scheduler frequency in Hz."
    default 100
    range 5 1000

choice
    prompt "Load averages calculation period"
    default configSCHED_LAVGPERIOD_11SEC
config configSCHED_LAVGPERIOD_5SEC
    bool "5 sec"
config configSCHED_LAVGPERIOD_11SEC
    bool "11 sec"
endchoice

config configSCHED_FREEQ_SIZE
    int "Free queue size"
    default 100
    ---help---
        Dead theads are freed in interrupt handler so the actually freeing of
        resources happens in the idle thread. This option controls the size of
        the queue to store garbage thread_info pointers.

config configSCHED_DEBUG
    bool "Thread scheduler debugging"
    default n
    ---help---
        Enable debugging invariants and messages in thread scheduling related
        functions.

endmenu

