menuconfig configRAMFS
    bool "ramfs"
    default y
    select configFS_DEHTABLE
    select configFS_INPOOL
    ---help---
    Provides in-RAM file system that can be used before hardware backed
    file systems are mounted. It also provides a mountpoint for pseudo
    file systems during boot. Some file systems may also inherit ramfs
    and thus auto select it.

if configRAMFS

config configRAMFS_DESIREDVNODES
    int "desiredvnodes"
    default 100
    ---help---
    Controls the vnode hash table size.
    This option should be set to the expected average maximum number of vnodes
    required by the whole ramfs driver.


config configRAMFS_DEBUG
    bool "Debugging"
    default n

endif
