configUSE_HFP=y
configQEMU_GUEST=y
__ARM6K__=y
configFB=y
configBCM_FB=y
configBCM_PM=y
configEMMC=y
configEMMC_SDXC_MAXIMUM_PERFORMANCE=y
configEMMC_WRITE_SUPPORT=y
configMAXPROC=10
configKASSERT=y
configLOCK_DEBUG=y
configDEBUG_DEBUG=y
configFATFS=y
configPROCCAP=y
# configBUNDLE_STATIC is not set
configTISH=y
configUSR_GAMES=y
configTESTS_FB=y
