configQEMU_GUEST=y
__ARM6K__=y
configRPI_HW=y
configEMMC=y
configEMMC_SDXC_MAXIMUM_PERFORMANCE=y
configMAXPROC=10
configKASSERT=y
configLOCK_DEBUG=y
configDEBUG_DEBUG=y
configFATFS=y
configFATFS_READONLY=y
configFATFS_LFN=y
configPROCCAP=y
configKUNIT=y
configKUNIT_REPORT_ORIENTED=y
configKUNIT_GENERIC=y
configKUNIT_HAL=y
configKUNIT_KSTRING=y
configKUNIT_VM=y
# configBUNDLE_STATIC is not set
configTISH=y
configTESTS_LIBC=y
configTESTS_MMAN=y
configTESTS_TTY=y
configTESTS_PTHREADS=y
configTESTS_UNISTD=y
