configUSE_HFP=y
__ARM6K__=y
configUSER_CCFLAGS="-g"
configEMMC=y
configEMMC_WRITE_SUPPORT=y
configFB=y
configBCM_FB=y
configBCM_INFO=y
configBCM_JTAG=y
configBCM_PM=y
configMAXPROC=10
configKASSERT=y
configLOCK_DEBUG=y
configDEBUG_DEBUG=y
configFATFS=y
configPROCCAP=y
# configBUNDLE_STATIC is not set
configUSR_EXAMPLES=y
configUSR_GAMES=y
configTESTS_FB=y
