configUSE_HFP=y
__ARM6K__=y
configFB=y
configBCM_FB=y
configBCM_PM=y
configRPI_EMMC=y
configRPI_EMMC_WRITE_SUPPORT=y
configMAXPROC=10
configKASSERT=y
configLOCK_DEBUG=y
configDEBUG_DEBUG=y
configFATFS=y
configFATFS_LFN=y
configPROCCAP=y
# configBUNDLE_STATIC is not set
configTISH=y
configSINIT_STDOUT="/dev/fb0"
configUSR_GAMES=y
configTESTS_FB=y
