# kern/fs/Kconfig

menu "File Systems"

menu "Rootfs"

config configROOTFS_PATH
    string "FS path"
    default "/dev/emmc0p1"

config configROOTFS_NAME
    string "FS name"
    default "fatfs"

config configROOTFS_FLAGS
    int "Mount flags"
    default 0

config configROOTFS_PARMS
    string "Params"

endmenu

config configFS_DEBUG
    bool "fs subsystem debugging"
    default n

config configFS_VREF_DEBUG
    bool "fs vref debugging"
    default n

menuconfig configMBR
    bool "MBR Support"
    default y
    depends on configDEVFS
    ---help---
    Read MBR and populate devices for drive partitions accordingly.

menuconfig configRAMFS
    bool "ramfs"
    default y
    select configFS_DEHTABLE
    select configFS_INPOOL
    ---help---
    Provides in-RAM file system that can be used before hardware backed
    file systems are mounted. It also provides a mountpoint for pseudo
    file systems during boot. Some file systems may also inherit ramfs
    and thus auto select it.

if configRAMFS
config configRAMFS_DEBUG
    bool "Debugging"
    default n
endif

config configDEVFS
    bool "devfs"
    default y
    select configRAMFS
comment "No devfs"
    depends on !configDEVFS

menuconfig configPROCFS
    bool "procfs"
    default y
    select configRAMFS
    ---help---
    Provides a Plan 9 -like process file system.

source "kern/fs/fatfs/Kconfig"

menu "FS libs"

config configFS_INPOOL
    bool "inode pools"
    ---help---
    inode pool speeds up the creation of new inodes in file systems.
    A pool is used to get new preallocated inodes as well as destroying
    and recyling old inodes. A file system may have unlimited amount of
    pools as pools are handled as objects.

    This is usually auto selected.

config configFS_DEHTABLE
    bool "Dirent hash table"

config configVFS_HASH
    bool "VFS Hash"
    select configSUBR_HASH
    ---help---
    A vnode hashmap for file systems that have to cache vnode data in-core.

    This is usually auto selected.

config configVFS_HASH_CTX_MAX
    int "Max number of contexts"
    default 1
    depends on configVFS_HASH
    ---help---
    Maximum number of VFS hash contexts, ie. the number of file systems that
    are willing to allocate a VFS hash cotext.

endmenu

endmenu
