# kern/fs/Kconfig

menu "File Systems"

menuconfig configMOUNTROOTFS
    bool "Rootfs"
    default y

if configMOUNTROOTFS

config configROOTFS_NAME
    string "FS name"
    default "ramfs" if configRAMFS

config configROOTFS_DEVPATH
    string "Path to dev"

config configROOTFS_FLAGS
    int "Mount flags"
    default 0

config configROOTFS_PARMS
    string "Params"

endif

config config_FS_DEBUG
    bool "fs subsystem debugging"
    default n

menuconfig configMBR
    bool "MBR Support"
    default n
    depends on configDEVFS

config MBR_DEBUG
    bool "MBR debug"
    default n
    depends on configMBR

config configRAMFS
    bool "ramfs"
    default y
    select configFS_INPOOL

config configDEVFS
    bool "devfs"
    default y
    select configRAMFS
comment "No devfs"
    depends on !configDEVFS

config configPROCFS
    bool "procfs"
    default y
    select configRAMFS

menu "FS libs"

config configFS_INPOOL
    bool "inode pools"
    ---help---
        inode pool speeds up the creation of new inodes in file systems.
        A pool is used to get new preallocated inodes as well as destroying
        and recyling old inodes. A file system may have unlimited amount of
        pools as pools are handled as objects.

        This is usually auto selected.

config configVFS_HASH
    bool "VFS Hash"
    ---help---
        A vnode hashmap for file systems that have to cache vnode data in-core.

        This is usually auto selected.

endmenu

endmenu
