comment "Optional applications"

menu "Testing"

config configTESTS_LIBC
    bool "Libc unit tests"
    default n

config configTESTS_MMAN
    bool "Memory management tests (mmap)"
    default n

config configTESTS_TTY
    bool "TTY tests"
    default n

config configTESTS_PTHREADS
    bool "Pthreds tests"
    default n

config configTESTS_UNISTD
    bool "Unistd tests"
    default n

endmenu
