comment "Optional applications"

menu "Testing"

config configPU_REPORT_ORIENTED
    bool "Report oriented"
    default n
    ---help---
    Report oriented mode prints more additional information like test module and
    test case descriptions.

config configPU_UU
    bool "PUnit Unix Unit"
    default n

comment "Test Suites"

config configTESTS_FB
    bool "Framebuffer tests"
    default n

config configTESTS_LIBC
    bool "Libc unit tests"
    default n

config configTESTS_MMAN
    bool "Memory management tests (mmap)"
    default n

config configTESTS_TTY
    bool "TTY tests"
    default n

config configTESTS_PTHREAD
    bool "Pthread tests"
    default n

config configTESTS_UNISTD
    bool "Unistd tests"
    default n

endmenu
