# kern/hal/Kconfig

menu "HW features"

config configATAG
    bool "Support bootloader ATAGs"
    default y
    ---help---
        Linux ATAGs support. ATAGs are used to describe the current hardware
        configuration on some systems where a Linux compatible bootloader is
        involved.

        If unsure, say Y.

config configMP
    bool "Enable MP support"
    default n
    depends on configHAVE_MP_CAP
    ---help---
        Selecting configMP enables some MP safeguards but doesn't break anything
        even if MP is not actually supported on the hardware.

        If unsure, say Y.

config configMMU
    bool "MMU support"

config configUART
    bool "UART support"
    default y
    select configDEVFS

if configUART

config configUART_MAX_PORTS
    int "Maximum number of UART ports"
    default 2
    range 1 256

endif

source "kern/hal/fb/Kconfig"

menu "BCM drivers"

config configBCM_MB
    bool "BCM2835 mailboxes"
    default y if configBCM2835
    depends on configBCM2835

config configBCM_JTAG
    bool "BCM2835 JTAG support"
    default n
    depends on configBCM2835

config configBCM_FB
    bool "BCM2835 FB"
    default n
    depends on configBCM2835 && configBCM_MB
    select configRPI_HW

config configBCM_PM
    bool "BCM2835 PM support"
    default n
    depends on configBCM2835 && configBCM_MB
    ---help---
    Enable BCM2835 Power Management support.

endmenu


menu "Raspberry PI drivers"

config configRPI_HW
    bool "Raspberry PI memory mapped HW support"
    default n
    depends on configBCM2835

config configRPI_LEDS
    bool "Raspberry PI leds"
    default n
    depends on configBCM2835

menuconfig configRPI_EMMC
    bool "Raspberry PI EMMC"
    default n
    depends on configBCM2835 && configBCM_MB

if configRPI_EMMC

config configRPI_EMMC_SD_1_8V_SUPPORT
    bool "Enable 1.8V support"
    default y

config configRPI_EMMC_SD_4BIT_DATA
    bool "Enable 4-bit support"
    default y

config configRPI_EMMC_SDXC_MAXIMUM_PERFORMANCE
    bool "Enable SDXC maximum performance mode"
    default n
    ---help---
        Enables SDXC maximum performance mode.
        This option requires 150 mA current.

        If unsure, say N.

config configRPI_EMMC_SDMA_SUPPORT
    bool "Enable SDMA support"
    default n

config configRPI_EMMC_SD_CARD_INTERRUPTS
    bool "Enable card interrupts"
    default n

config configRPI_EMMC_WRITE_SUPPORT
    bool "Enable SD card write support (EXPERIMENTAL)"
    default n
    ---help---
        Enable EXPERIMENTAL and possibly DANGEROUS SD card write support.

        If unsure, say N.

choice
    prompt "EMMC Implementation"
    default configRPI_EMMC_GENERIC if configQEMU_GUEST
    default configRPI_EMMC_BCM2708 if configBCM2835
    default configRPI_EMMC_GENERIC

config configRPI_EMMC_GENERIC
    bool "Generic EMMC"

config configRPI_EMMC_BCM2708
    bool "BCM2708 EMMC"

endchoice

config configRPI_EMMC_DEBUG
    bool "Debugging mode"
    default n

endif

endmenu

endmenu
